<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <h2>ジャンル一覧・追加</h2>
      <%= form_with model: @genre, url: genres_path, method: :post do |f| %>
        <label for="inputGenre">ジャンル名</label>
        <%= f.text_field :name, placeholder: "ジャンル名", id: "inputGenre" %>
        <%= f.submit "新規登録" %>
      <% end %>
      
      
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル</th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td>
              <%= genre.name %>
            </td>
            <td>
              <%= link_to "編集する", edit_genre_path(genre.id) %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>