<div class="container">
  <div class="row">
    <div class="col">
      <h2>
        商品一覧 <span style="font-size: 17px;">(全<%= @items.count %>件)</span>
      </h2>
    </div>
  </div>
  
  <div class="row">
    <% @items.each do |image| %>
    <div class="col-lg-3">
      <a href="/items/<%= image.id %>" class="card lg-3 text-dark border-0">
        <%= image_tag image.get_image(200, 180), class: "card-img-top" %>
        <div class="card-body">
          <h6 class="card-title">
            <%= image.name %><br>
            ¥<%= image.price %>
          </h6>
        </div>
      </a>
    </div>
    <% end %>
    <div class="mx-auto">
      <%= paginate @items %>
    </div>
  </div>
</div>