<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mx-auto" style="width: 95%;">
    <header class="border-dark border mt-lg-3">
      <nav class="nav navbar-expand-sm navbar-light mt-3 mb-3">
        <h1>LOGO</h1>
          
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
          <% if admin_signed_in? %>
            <% if request.fullpath.include? "/admin" %>
              <li class="nav-item active">
                <%= link_to "商品一覧", admin_path %> <!--各モデル作成後正しいリンクを記述-->
              </li>
              <li>
                <%= link_to "会員一覧", admin_path %> <!--各モデル作成後正しいリンクを記述-->
              </li>
              <li>
                <%= link_to "注文履歴一覧", admin_path %>
              </li>
              <li>
                <%= link_to "ジャンル一覧", genres_path %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "マイページ", customers_path %>
              </li>
              <li>
                <%= link_to "商品一覧", root_path %> <!--各モデル作成後正しいリンクを記述-->
              </li>
              <li>
                <%= link_to "カート", root_path %> <!--各モデル作成後正しいリンクを記述-->
              </li>
              <li>
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
              </li>
            <% end %>
          <% elsif customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", customers_path %>
            </li>
            <li>
              <%= link_to "商品一覧", root_path %> <!--各モデル作成後正しいリンクを記述-->
            </li>
            <li>
              <%= link_to "カート", root_path %> <!--各モデル作成後正しいリンクを記述-->
            </li>
            <li>
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "About", about_path %>
            </li>
            <li>
              <%= link_to "商品一覧", root_path %> <!--各モデル作成後正しいリンクを記述-->
            </li>
            <li>
              <%= link_to "新規登録", new_customer_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_customer_session_path %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>
    
    <main class="border-dark border-right border-left py-lg-5">
      <%= yield %>
    </main>
    <footer>
      <div class="border-dark border mb-lg-3" style="height: 130px;"></div>
    </footer>
  </body>
</html>
